{% load widget_tweaks %}
<form method="post">
  {% csrf_token %}
  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  <div class="form-row">
  <div class="form-group col-sm-6">
    {{ form.first_name.label_tag }}
    {% if form.is_bound %}
      {% if form.first_name.errors %}
        {% render_field form.first_name class="form-control is-invalid" %}
        {% for error in form.first_name.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
        {% render_field form.first_name class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.first_name class="form-control" %}
    {% endif %}
    {% if first_name.help_text %}
      <small class="form-text text-muted">{{ form.first_name.help_text }}</small>
    {% endif %}
  </div>


  <div class="form-group col-sm-6">
    {{ form.last_name.label_tag }}
    {% if form.is_bound %}
      {% if form.last_name.errors %}
        {% render_field form.last_name class="form-control is-invalid" %}
        {% for error in form.last_name.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
        {% render_field form.last_name class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.last_name class="form-control" %}
    {% endif %}
    {% if last_name.help_text %}
      <small class="form-text text-muted">{{ form.last_name.help_text }}</small>
    {% endif %}
  </div>
  </div> <!-- form row -->

  <div class="form-group">
    {{ form.email.label_tag }}
    {% if form.is_bound %}
      {% if form.email.errors %}
        {% render_field form.email class="form-control is-invalid" %}
        {% for error in form.email.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
        {% render_field form.email class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.email class="form-control" %}
    {% endif %}
    {% if email.help_text %}
      <small class="form-text text-muted">{{ form.email.help_text }}</small>
    {% endif %}
  </div>

  <button type="submit" class="btn btn-info">{% if submit_button_text %} {{ submit_button_text }} {% else %} Submit {% endif %} </button>
  <a href="javascript:history.back()" class="btn btn-warning" role="button">Back</a>
</form>
