{% extends "base_generic.html" %}
{% block title %}<title>Password reset completed | {{ PAGE_TITLE }} </title>{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <p class="text-danger">This template should not be used!</p>
    </div>
    <div class="col">
      <p>&nbsp;</p>
      <p>The password has been changed!</p>
      <p><a href="{% url 'loginc' %}">log in again?</a></p>
    </div>
  </div> <!-- row -->
</div><!-- container -->
{% endblock %}
