{% load static %}
{% load i18n %}
<!-- navbar begins -->
<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-column sticky-footer-wrapper">
  <div class="container">
      <!-- Logo -->
        <a class="navbar-brand" href="{% url 'index' %}"><span class="text-info font-weight-bold" style="font-size:larger; font-family: serif;">motpanel</span></a>
        <!-- collapse feature -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- main menu feature -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            {% url 'surveys-dashboard' as dashboard_url %}
            <li class="nav-item {% if request.path == dashboard_url %}active{% endif %}">
              <a class="nav-link" href="{{ dashboard_url }}"> {% trans "Start here" %} {% if request.path == dashboard_url %}<span class="sr-only">{% trans "(current)" %}</span>{% endif %}</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans "Account" %}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <a class="dropdown-item" href="{% url 'edit-account' %}">{% trans "Account details" %}</a>
                <a class="dropdown-item" href="{% url 'payments_current_plan' %}">{% trans "Subscription details" %}</a>
                <a class="dropdown-item" href="{% url 'change-password' %}">{% trans "Change password" %}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">{% trans "Log out" %}</a>
              </div>
            </li>
            {% else %}
            {% url 'index' as index_url %}
            <li class="nav-item {% if request.path == index_url %}active{% endif %}">
              <a class="nav-link" href="{{ index_url }}">{% trans "Home" %} {% if request.path == index_url %}<span class="sr-only">{% trans "(current)" %}</span>{% endif %}</a>
            </li>
            {% url 'loginc' as login_url %}
            <li class="nav-item {% if request.path == login_url %}active{% endif %}">
              <a class="nav-link" href="{{ login_url }}">{% trans "Login" %} {% if request.path == login_url %}<span class="sr-only">({% trans "(current)" %}</span>{% endif %}</a>
            </li>
            {% url 'sign-up' as sign_up_url %}
            <li class="nav-item {% if request.path == sign_up_url %}active{% endif %}">
              <a class="nav-link" href="{{ sign_up_url }}">{% trans "Sign up" %}{% if request.path == sign_up_url %}<span class="sr-only">{% trans "(current)" %}</span>{% endif %}</a>
            </li>
            {% endif %}
          </ul>
          <span class="navbar-text"> 
            {% if user.is_authenticated %}({{ user.get_username }}){% endif %}
          </span>
          
          <div class="dropdown">
            {% get_current_language as CURRENT_LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% static 'images/english_language_flag.png' as EN_US_FLAG %}
            {% static 'images/norwegian_language_flag.png' as NB_FLAG %}
            <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="text-muted">
                {% for language in LANGUAGES  %}
                 {% if language.0 == CURRENT_LANGUAGE_CODE %}
                 {% get_language_info for language.0 as language_info %}
                 <img src="
                 {%if CURRENT_LANGUAGE_CODE == "en-us" %}{{EN_US_FLAG}}{% elif CURRENT_LANGUAGE_CODE == "nb" %}{{NB_FLAG}}{% endif %}" 
                 height="16px" alt="Current language is {{language_info.name_local|capfirst}}" />
                 {{language_info.name_local|capfirst}}
                 {% endif %}
                {% endfor %}
                
              </span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for language in LANGUAGES  %}
              {% get_language_info for language.0 as language_info %}
              <a class="dropdown-item" href="{% url 'change-language' language.0 %}?next={{request.path}}"><img src="
                {%if language.0 == "en-us" %}{{EN_US_FLAG}}{% elif language.0 == "nb" %}{{NB_FLAG}}{% endif %}
              " height="16px" alt="Switch language to {{language.1}}" /> {{language_info.name_local|capfirst}}</a>
              {% endfor %}
              <!-- Icons made by Freepik http://www.freepik.com/" -->
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
          
        </div><!-- navbar -->
  </div><!-- container -->
</nav>
