
<h2 class="text-body"> Privacy Policy</h2>
<h4 class="text-body">Our contact details</h4>
<p>
Company Name: Engesbak Promotions<br />
Address: Elgesetergate 58B, 7030 Trondheim, Norway<br />
Privacy contact person: Vetle Engesbak, CEO<br />
Email: privacy@motpanel.com<br />
</p>
<p>
If you have any questions about privacy, please do not hesitate to contact us.
</p>

<h4 class="text-body">Purpose and legal basis for processing personal information</h4>
<p>
We collect and process data about individuals solely on a consentual basis.
</p>
<p>
The main purpose for data collection is to provide the services as described on
our web-site, and on any other marketing material. In short, we collect
HR-related information about an organization's employees, process it, and serve
it back to the organization that is the customer. In doing so we seek to help
the organization improve their decision making around employee well-being.
</p>
<p>
Secondarily, we also use or will use anonymized data for statistical processing,
for example in AI-models. This data may be shared with others through scientific
publishing, blogging, or otherwise, but is always anonymized and to the best of
our knowledge and ability, made completely untraceable.
</p>

<h4 class="text-body">Sharing of personal data</h4>
<p>
We may share ANOYMOUS data with third parties, never NON-ANONYMIZED data*. We do
sometimes share NON-ANONYMIZED data between employer (customer) and employee
(respondents). Cases where this may occur include, but are not limited to:
<ul>
  <li>
    Cases where we explicity ask and receive consent to collect data that is
    meant to be shared, for example as preparation for a performance review.
  </li>
  <li>
    Edge cases where a customer is able to extrapolate individual answers
    despite our
    reasonable effort to avoid this. For example given that all respondents
    give the
    lowest possible score to a question (lets say they all give a 1 on a scale
    from 1 to 5). The smart observer, noticing that the average for that
    question is 1, could reasonably deduce that the only way that happened was
    if everyone answered 1, and would thus know that each individual respondent
    gave a 1.
  </li>
</ul>

We seek to minimize the latter case, by providing extra layers of abstraction
for small data sets. For example, we don't present data from single respondent
surveys, and we only provide averages and computed scores for data sets with at
least 4 respondents.
</p>
<p>
Transfer of NON-ANONYMOUS data out of the EU does as general rule not occur on
our end, but our customers are free to bring data from our website with them,
and customers may access our website and it's data from anywhere in the world so
long as the proper login credentials are provided.
</p>
<p>
  * We DO use cloud services to host our webpage and data. Though these have
  access to our data in a technical sense, we do not allow them to process or
  use such data for their own purposes. All our infrastructure is located in the
  EU to ensure these services are governed by the same strict privacy
  regulations that we are.
</p>
<h4 class="text-body">How long do we store data?</h4>
<p>
NON-ANONYMIZED personal data is generally stored for as long a company remains a
customer,
and for a period of up to five years after that. Companies may also delete an
employee from our system, if for example, that employee quits. In such a case
the data is
immediatly anonymized. Individuals may also request their data be anonymized.
</p>
<h4 class="text-body">Users rights</h4>
<p>
Anyone whose data we store have the following rights:
<ul>
  <li>
    <b>The right to be informed</b> about how we use their data.
    This information is kept and made avilable in this policy.
  </li>
  <li>
    <b>Right of access</b>: We will share with WHAT data we have about you. In
    cases where you can be identified positively as the provider of the data,
    we will also share THE data we have about you. This distinction is
    neccessary, because we collect data with little validation as to who is
    providing the data.
  </li>
  <li>
    <b>Right of rectification</b>: If we are holding erroneus data about you,
    you may ask for it to be rectified.
  </li>
  <li>
    <b>Right to erasure</b>: We will erase your NON-ANONYMIZED data at your
    request.
  </li>
  <li>
    <b>Right to restrict processing</b>: You may ask that your NON-ANONYMIZED data
    not be processed in our systems.
  </li>
  <li>
    <b>Right to data portability</b>: You have the right to obtain and reuse
    data you have shared with us with third parties.
  </li>
  <li>
    <b>Right to object to use of your data for direct marketing, or processing
    of your personal information where the basis is lawful interest </b>: We do
    not use data in this manner.
  </li>
  <li>
    <b>Rights in relation to automated decision making and profiling </b>: We do
    not use data in this manner.
  </li>
</ul>

You have a right to raise any complaint about your rights to the data protection
agency in your country.

</p>
