{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <div class="row pt-4">
    <div class="col-sm-12">

    </div>
  </div> <!-- row -->

  <div class="row justify-content-center pt-2">
  {% include "includeable/message_displayer.html" %}
  </div><!-- row -->



  <div class="row">
    <div class="col-sm-6">
      <h4>Register employees</h4>
        {% include "includeable/render_add_or_remove_employee_form.html" %}
      <div class="w-100"></div>
      <a href="{% url 'surveys-dashboard' %}">I'm done adding employees</a>
    </div><!-- col -->
    <div class="col-sm-6">
      {% if employee_list %}
        <h4>Registered employees</h4>
        {% include "includeable/employee_list_displayer.html" %}
      {% else %}

      {% endif %}
    </div> <!-- col -->
  </div> <!-- row -->
</div><!-- container -->

{% endblock %}
