{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% block navbar %}
  {% include "includeable/empty_navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center pt-2">
  {% include "includeable/message_displayer.html" %}
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-12">
      <h4></h4>

    </div><!-- col -->
    <div class="col-sm-12">

{% if page is None %}
  {% if survey_instance.check_completed == True %}
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="card text-center">
        <div class="card-header">
          {{ survey_instance.respondent.organization }} employee survey
        </div>
        <div class="card-body">
          <h5 class="card-title">Thank you for taking the time to answer this survey</h5>
          <p class="card-text">
            The survey has been successfully completed, and your answers saved. You can update your answers until {{ survey_instance.survey.date_close }} by using the button below, and the link we emailed you before will get you back here if you need it.
          </p>
          <p class="card-text">
            You may close this window now.
          </p>
          <a href="{% url 'surveys-answer-survey-pages' survey_instance.get_url_token 1 %}" class="btn btn-info">Review answers</a>
        </div>
      </div>
    </div>
  </div>
  {% else %} {# survey_instance.check_completed == True #}
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="card text-center">
        <div class="card-header">
          {{ survey_instance.respondent.organization }} employee survey
        </div>
        <div class="card-body">
          <h5 class="card-title">Thank you for taking the time to answer this survey</h5>
          <p class="card-text">
            The data we collect in this survey will be used to provide your
            organization with a picture of its strong and weak points regarding your
            well-being and motivation. We maintain your anonymity in the following manner:
            <br />
          </p>
          <p class="card-text">
            We do not directly tell your organization (or anyone else) WHO has answered WHAT
            to these questions. Yet, in some case, it may be possible to to guess. For
            example if everyone in your organization gives the same answer to a particular question.
          </p>
          <p class="card-text">
            Read our full <a href="{% url 'privacy-policy' %}" target="_blank">privacy policy&#11016;</a>.
            <form method="post">
              {% csrf_token %}
              {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
              {% endfor %}
              <div class="form-group row">
              <div class="col justify-content-right">
              {% if form.is_bound %}
                {% if form.consent_to_answer.errors %}
                  {% render_field form.consent_to_answer class="form-control is-invalid" %}
                  {% for error in form.consent_to_answer.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field form.consent_to_answer class="form-control is-valid" %}
                {% endif %}
              {% else %}
                {% render_field form.consent_to_answer class="form-control" %}
              {% endif %}
              {% if consent_to_answer.help_text %}
                <small class="form-text text-muted">{{ form.consent_to_answer.help_text }}</small>
              {% endif %}
        
                {{ form.consent_to_answer.label_tag }}
              </div>
            </div><!-- form group row -->
            <center><button type="submit" class="btn btn-info ">Start survey </button></center>
          </form>
          </p>
          <!-- <a href="{% url 'surveys-answer-survey-pages' survey_instance.get_url_token 1 %}" class="btn btn-info">Consent to gathering of personal data and start survey</a> -->
        </div>
      </div>
    </div>
  </div>
  {% endif %} {# survey_instance.check_completed == True #}

{% else %} {# if page is None #}
<div class="col-lg-6 offset-lg-3">
  <center>Progress: {{progress|floatformat:"0"}} %</center>
  <div class="progress" style="height: 20px;">
    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{progress|floatformat:"0"}}%" aria-valuenow="{{progress|floatformat:"0"}}" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

</div>
      <form method="post" class="my-3">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}
{% for field in form.visible_fields %}
<div class="card mb-4
{% if form.is_bound %}
  {% if field.errors %}
border-danger
  {% else %}
border-success
  {% endif %}
{% endif %}
">
  <div class="card-header text-muted">
    {% if field.help_text %}
      <span class="form-text text-muted">{{ field.help_text }}</span>
    {% endif %}
  </div> <!-- card header -->
  <div class="card-body">
  <h4>{{ field.label_tag }}</h4>
  {{ field.field.min_value_description|capfirst }}
  {% for radio in field %}
  <div class="form-check form-check-inline">
    {{ radio.tag }}
    <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
  </div>
  {% endfor %}

  {{ field.field.max_value_description|capfirst }}

  {% if form.is_bound %}
    {% if field.errors %}
      {% for error in field.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
  {% endif %}

    </div> <!-- card body -->
</div> <!-- card -->
{% endfor %}

<center><button type="submit" class="btn btn-info">{% if submit_button_text %} {{ submit_button_text }} {% else %} Submit {% endif %} </button></center>
</form>

    </div> <!-- col -->
  </div> <!-- row -->
</div><!-- container -->

{% endif %}


{% endblock %}
