{% extends "base_generic.html" %}


{% block content %}
<div class="container">
  <div class="row pt-4">
    <div class="col-sm-12">
      <h3> Dashboard </h3>
    </div>
  </div> <!-- row -->
  <div class="row justify-content-center pt-2">
  {% include "includeable/message_displayer.html" %}
  </div><!-- row -->
  <div class="row">
    <div class="col-12">


      {% if employee_count == 0 %}
      <div class="card">
        <div class="card-header">
          Your next step to get started
        </div>
        <div class="card-body">
          <h5 class="card-title">Add some coworkers to track</h5>
          <p class="card-text">Where are we going to send surveys? You can add coworkers manually, or email us a list (e.g. an excel sheet), and we'll add them for you!</p>
          <a href="{% url 'surveys-add-or-remove-employees' %}" class="btn btn-info">Add coworkers</a>
        </div>
      </div>

      {% elif stripe_subscription.status != 'active' and stripe_subscription.status != 'trialing' %}
      <div class="card">
        <div class="card-header">
          Your next step to get started
        </div>
        <div class="card-body">
          <h5 class="card-title">Set up a plan </h5>
          <p class="card-text">To get started with our employee engagement software, you first need to pick a plan. Don't worry though, the first month is free for all plans!</p>
          <a href="{% url 'payments_current_plan' %}" class="btn btn-info">Set up a plan</a>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col-lg-6">
          {% if active_instrument_data is not None %}
            {% for active_instrument in active_instrument_data %}
              <div class="card mb-4">
                <div class="card-header text-center">
                   {{ active_instrument.instrument.name }}
                </div><!-- card-header -->
                <div class="card-body">

                  {% if active_instrument.closed_surveys is not None %}
                    <h5 class="card-title text-left">Latest measurements</h5>
                    <p class="text-muted">
                      Latest data was collected {{ active_instrument.closed_surveys.0.survey.date_close}}.<br />

                      {% if active_instrument.closed_surveys.0.survey.n_completed < 4 %}<span class="text-danger">{% endif %}
                      <b>{{ active_instrument.closed_surveys.0.survey.n_completed }}</b> responded out of <b>{{ active_instrument.closed_surveys.0.survey.n_completed }}</b> invited
                      {% if active_instrument.closed_surveys.0.survey.n_completed < 4 %}</span>{% if active_instrument.closed_surveys.0.survey.n_completed > 0 %}<small><span class="text-muted">(some information will be hidden for privacy reasons)</span></small>{% endif %}{% endif %}
                    </p>
                    <!-- start showing results -->

                    {% for dimension in active_instrument.closed_surveys.0.dimension_results %}
                    <div class="row">
                      <div class="col-lg-3">
                        <a href="{% url 'surveys-survey-details' active_instrument.closed_surveys.0.survey.uidb64 active_instrument.instrument.slug_name %}#{{ dimension.dimension.name|slugify }}">{{ dimension.dimension.name }}</a>
                      </div><!-- col -->

                      <div class="col-2 text-right px-0">
                        <span class="text-muted"><small> Weakn. </small></span>
                      </div><!-- col -->
                      <div class="col">
                        <div class="progress"  style="height: 20px;">
                          {% if dimension.average is not None %}
                          <div class="progress-bar
                          {% if dimension.percent_of_max <= 20 %} bg-danger
                          {% elif dimension.percent_of_max >= 80 %} bg-success
                          {% else %} bg-warning{% endif %}" role="progressbar" style="width: {{ dimension.percent_of_max }}%" aria-valuenow="{{ dimension.percent_of_max }}" aria-valuemin="0" aria-valuemax="100">{{ dimension.average|floatformat }}</div>

                        {% else %} {# if dimension.average is not None #}
                        <div class="progress-bar bg-transparent" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><span class="text-dark">Average hidden</span></div>
                        {% endif %} {# if dimension.average is not None #}
                      </div>
                      </div><!-- col -->
                      <div class="col-2 text-left px-0">
                        <span class="text-muted"><small>Strength</small></span>
                      </div><!-- col -->
                    </div><!-- row -->
                    {% endfor %}{# for dimension in active_instrument.closed_surveys.0.dimension_results #}

                    <!-- done showing results -->

                  {% else %}{# if active_instrument.closed_surveys is not None #}
                  <h5 class="card-title text-left">No measurements yet!</h5>
                  <p class="card-text">
                    The {{ active_instrument.instrument.name }} Tracking tool has not yet finished collecting your first set of data.
                      {% if active_instrument.open_survey is not None %}
                        But fear not, we are currently collecting data, and it will be available for review {{ active_instrument.open_survey.date_close }}.
                      {% else %}{# if active_instrument.open_survey is not None #}
                        We have not yet begun collecting data either, but will usually do that within a few hours of you activating the product. So make sure you have added all the employees you want to track, sit back and relax while we do all the hard work!
                      {% endif %}{# if active_instrument.open_survey is not None #}
                  </p>
                  {% endif %}{# if active_instrument.latest_instrument_data is not None #}

                  <p class="card-text">
                    <center>
                      {% if active_instrument.closed_surveys is not None %}
                        <a href="{% url 'surveys-survey-details' active_instrument.closed_surveys.0.survey.uidb64 active_instrument.instrument.slug_name %}" class="btn btn-info">View details</a>
                      {% endif %}{# if active_instrument.latest_instrument_data is not None #}
                      <a href="{% url 'surveys-setup-instrument' active_instrument.instrument.slug_name %}" class="btn btn-info">Review settings</a>
                    </center>
                  </p>
                  {% if active_instrument.closed_surveys is not None %}
                    <h5 class="card-title text-left mt-4">{{ active_instrument.instrument.name }} measurements</h5>
                    <ul>
                      {% for survey in active_instrument.closed_surveys %}
                        <li><a href="{% url 'surveys-survey-details' survey.survey.uidb64 active_instrument.instrument.slug_name %}">{{ survey.survey.date_close }}</a>{% if forloop.counter == 1 %} (latest){% endif %}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}{# if active_instrument.closed_surveys is not None #}

                </div><!-- card-body -->

                <div class="card-footer text-muted  text-center">
                  <p class="card-text">
                    <small class="text-muted">{{ active_instrument.instrument.name }} Tracking is currently <b>active</b></small>
                  </p>
                </div><!-- card-footer -->
              </div><!-- card -->
            {% endfor %}  {# for active_instrument in active_instrument_data #}
          {% endif %} {# if active_instrument_data is not None #}


          {% if inactive_instrument_list is not None %}
          {% for inactive_instrument in inactive_instrument_list %}

          <div class="card">
            <div class="card-header text-center">
               {{ inactive_instrument.name }}
            </div><!-- card-header -->
           <div class="card-body text-center">
              <h5 class="card-title">You are ready!</h5>
              <p class="card-text">Don't worry, you can always add more coworkers to track later.</p>
              <a href="{% url 'surveys-setup-instrument' inactive_instrument.slug_name %}" class="btn btn-lg btn-success">Start tracking!</a>
          </div><!-- card-body-->

          <div class="card-footer text-muted  text-center">
            <p class="card-text">
              <small class="text-muted">{{ inactive_instrument.name }} Tracking is currently <b>inactive</b></small>
            </p>

          </div><!-- card-footer -->
          </div><!-- card -->
          {% endfor %} {# for instrument in inactive_instrument_list #}
          {% endif %} {# if inactive_instrument_list is not None #}








        </div><!-- col -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header text-center">
              Organization
            </div>
            <center><h3 class="card-title mt-2">{{ request.user.organization.name }}</h3></center>

                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><div class="d-flex justify-content-between"><span>Number of co-workers: </span> <span>{{ employee_count }}</span></div></li>
                  {% for ai in active_instrument_data %}
                  <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                      <div>{{ ai.instrument.name }} tracking:</div>
                      <div>
                        <a href="{% url 'surveys-setup-instrument' ai.instrument.slug_name %}" class="badge badge-success align-self-end">ON</a>
                      </div>
                    </div>
                  </li>
                  {% endfor %} {# for ai in active_instrument_list #}
                  {% for iai in inactive_instrument_list %}
                  <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                      <div>{{ iai.name }} tracking:</div>
                      <div>
                        <a href="{% url 'surveys-setup-instrument' iai.slug_name %}" class="badge badge-warning align-self-end">OFF</a>
                      </div>
                    </div>
                  </li>
                  {% endfor %} {# for iai in inactive_instrument_list #}


                </ul>
            <div class="card-body">
              <center><a href="{% url 'edit-account' %}" class="btn btn-info">Edit organization details</a></center>

            </div><!-- card-body -->
            <div class="card-footer text-muted text-center">
              <p class="card-text"><small class="text-muted">&nbsp;</small></p>
            </div>
          </div> <!-- card -->

          <div class="card my-4">
            <div class="card-header text-center">
              Employees
            </div>
            <div class="card-body">
              <center><h3 class="card-title">Co-workers at {{ request.user.organization.name }}</h3></center>
            </div><!-- card-body -->

                {% include "includeable/employee_list_displayer.html" %}

            <div class="card-body">
              <center><a href="{% url 'surveys-add-or-remove-employees' %}" class="btn btn-info">Add co-workers</a></center>
            </div><!-- card-body -->
            <div class="card-footer text-muted text-center">
              <p class="card-text"><small class="text-muted">&nbsp;</small></p>
            </div>
          </div> <!-- card -->





        </div><!-- col -->
      </div><!-- row -->
      {% endif %}
    </div><!-- col -->

  </div> <!-- row -->
</div><!-- container -->

{% endblock %}
