{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row pt-4">
    <div class="col-sm-12">
      <h3> Dashboard </h3>
    </div>
  </div> <!-- row -->
  <div class="row justify-content-center pt-2">
  {% include "includeable/message_displayer.html" %}
  </div><!-- row -->
  <div class="row">
    <div class="col-12">

      {% if not request.user.subscriber.date_current_plan_expires or request.user.subscriber.date_current_plan_expires < todays_date %}
      <div class="card">
        <div class="card-header">
          Your next step to get started
        </div>
        <div class="card-body">
          <h5 class="card-title">Choose a plan</h5>
          <p class="card-text">To get started with our employee engagement software, you first need to pick a plan. Don't worry though, the first month is free for most plans, so you can try it out before deciding that you would like to continue with the paid plan.</p>
          <a href="{% url 'choose-plan' %}" class="btn btn-info">Choose a plan</a>
        </div>
      </div>
      {% elif not request.user.organization %}
      <div class="card">
        <div class="card-header">
          Your next step to get started
        </div>
        <div class="card-body">
          <h5 class="card-title">Enter your organization details</h5>
          <p class="card-text">We don't know who you are yet. Help us out by giving us a little more info on your organization.</p>
          <a href="{% url 'surveys-edit-organization' %}" class="btn btn-info">Set up organization</a>
        </div>
      </div>
      {% elif employee_count == 0 %}
      <div class="card">
        <div class="card-header">
          Your next step to get started
        </div>
        <div class="card-body">
          <h5 class="card-title">Add some coworkers to track</h5>
          <p class="card-text">Where are we going to send surveys? You can add coworkers manually, or email us a list (e.g. an excel sheet), and we'll add them for you!</p>
          <a href="{% url 'surveys-edit-coworker' %}" class="btn btn-info">Add coworkers</a>
        </div>
      </div>

      {% else %}
      <div class="row">
        <div class="col-md-6">





          {% if est_active == True %}
          <div class="card">
            <div class="card-header text-center">

              Employee Satisfaction Tracking

            </div>
            <div class="card-body">
              {% if surveys %}
              <h5 class="card-title text-left">Latest measurements</h5>
              <p class="text-muted">
                Completion date: {{surveys.0.date_close}}<br />

                {% if number_of_respondents < 4 %}<span class="text-danger">{% endif %}
                <b>{{ number_of_respondents }}</b> responded out of <b>{{ number_of_invited }}</b> invited
                {% if number_of_respondents < 4 %}</span>{% if number_of_respondents > 0 %}<small><span class="text-muted">(some information will be hidden for privacy reasons)</span></small>{% endif %}{% endif %}
              </p>
              {% else %}
              <h5 class="card-title text-center">You are all set!</h5>
              {% endif %}
              <p class="card-text text-center">

                {% if survey_results and number_of_respondents > 0 %}
                {% for result in survey_results %}
                <div class="row">
                  <div class="col-lg-4">
                    <a href="{% url 'surveys-co-worker-satisfaction-data' surveys.0.date_close %}#{{ result.dimension|slugify }}">{{ result.name }}</a>
                  </div><!-- col -->

                  <div class="col-2 text-right px-0">
                    <span class="text-muted"><small> Weakn. </small></span>
                  </div><!-- col -->
                  <div class="col">
                    <div class="progress"  style="height: 20px;">
                      {% if number_of_respondents > 3 %}
                      <div class="progress-bar
                      {% if result.score < 2 %} bg-danger
                      {% elif result.score >= 4 %} bg-success
                      {% else %} bg-warning{% endif %}" role="progressbar" style="width: {{ result.progress }}%" aria-valuenow="{{ result.role.progress }}" aria-valuemin="0" aria-valuemax="100">{{ result.score|floatformat }}</div>

                    {% else %}
                    <div class="progress-bar bg-transparent" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><span class="text-dark">Average hidden</span></div>
                    {% endif %}
                  </div>
                  </div><!-- col -->
                  <div class="col-2 text-left px-0">
                    <span class="text-muted"><small>Strength</small></span>
                  </div><!-- col -->

                </div><!-- row -->

                {% endfor %}
                {% elif survey_results and number_of_respondents == 0  %}
                <div class="alert alert-warning" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="alert-heading">Oh no!</h4>
                  <hr />
                  <p>Nobody replied to this survey, and so we have no data to show you. </p>

                </div>
                {% endif %}



                {% if not surveys %}
                Sit back and relax! We will now collect data from your co-workers, and once data is in we will let you know, and we will display it here. <br />
                {% endif %}
                {% if next_survey_close %}
                We are currently collecting data, which will be available once the survey closes, {{ next_survey_close }}.
                {% endif %}
              </p>
              {% if surveys and number_of_respondents > 0 %}
              <center>
              <a href="{% url 'surveys-co-worker-satisfaction-data' surveys.0.date_close %}" class="btn btn-info">View details</a>
              </center>

              <h5 class="card-title text-left mt-4">Co-worker satisfaction tracking settings</h5>
              {% endif %}
              <center>
              <a href="{% url 'surveys-set-up-employee-satisfaction-tracking' %}" class="btn btn-info">Review settings</a>
              </center>
              <p class="card-text">
              {% if surveys %}
              <h5 class="card-title text-left mt-4">Your organization's surveys</h5>
              <ul>
                {% for survey in surveys %}
                  <li><a href="{% url 'surveys-co-worker-satisfaction-data' survey.date_close %}">{{ survey.date_close }}</a>{% if forloop.counter == 1 %} (latest){% endif %}</li>
                {% endfor %}
              </ul>
              {% endif %}
              </p>

            </div>
            <div class="card-footer text-muted  text-center">
              <p class="card-text">
                <small class="text-muted">Co-worker Satisfaction Tracking is currently <b>active</b></small>
              </p>
            </div>
          </div>
          {% else %}
          <div class="card text-center">
            <div class="card-header">
              Your next step to get started
            </div>
            <div class="card-body">

            <h5 class="card-title">You are ready!</h5>
            <p class="card-text">Don't worry, you can always add more coworkers to track later.</p>
            <a href="{% url 'surveys-set-up-employee-satisfaction-tracking' %}" class="btn btn-lg btn-success">Start tracking!</a>
            </div>
            <div class="card-footer text-muted">
              <p class="card-text">
                <small class="text-muted">Co-worker Satisfaction Tracking is currently <b>not activated</b></small>
              </p>
            </div>
          </div>
        {% endif %}








        </div><!-- col -->
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header text-center">
              Organization
            </div>
            <center><h3 class="card-title mt-2">{{ request.user.organization.name }}</h3></center>
            <!--<img class="card-img-top mt-2" src="{% static request.user.subscriber.plan.illustration_static_address %}" style="height: 10rem;" alt="Card image cap">-->
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><div class="d-flex justify-content-between"><span>Number of co-workers: </span> <span>{{ employee_count }}</span></div></li>

                  <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                      <div>Coworker satisfaction tracking:</div>
                      <div>
                      {% if est_active == True %}
                      <a href="{% url 'surveys-set-up-employee-satisfaction-tracking' %}" class="badge badge-success align-self-end">ON</a>
                      {% else %}
                      <a href="{% url 'surveys-set-up-employee-satisfaction-tracking' %}" class="badge badge-warning align-self-end">OFF</a>
                      {% endif %}
                      </div>
                    </div>
                  </li>
                </ul>
            <div class="card-body">
              <center><a href="{% url 'surveys-edit-organization' %}" class="btn btn-info">Edit organization details</a></center>

            </div><!-- card-body -->
            <div class="card-footer text-muted text-center">
              <p class="card-text"><small class="text-muted">&nbsp;</small></p>
            </div>
          </div> <!-- card -->

          <div class="card my-4">
            <div class="card-header text-center">
              Employees
            </div>
            <div class="card-body">
              <center><h3 class="card-title">Co-workers at {{ request.user.organization.name }}</h3></center>
            </div><!-- card-body -->

                {% include "includeable/employee_list_renderer.html" %}

            <div class="card-body">
              <center><a href="{% url 'surveys-edit-coworker' %}" class="btn btn-info">Add co-workers</a></center>
            </div><!-- card-body -->
            <div class="card-footer text-muted text-center">
              <p class="card-text"><small class="text-muted">&nbsp;</small></p>
            </div>
          </div> <!-- card -->





        </div><!-- col -->
      </div><!-- row -->

      {% endif %}
    </div><!-- col -->

  </div> <!-- row -->
</div><!-- container -->

{% endblock %}
