{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
  <div class="row pt-4">
    <div class="col-sm-12">

    </div>
  </div> <!-- row -->



  <div class="row justify-content-center pt-2">
  {% include "includeable/message_displayer.html" %}
  </div><!-- row -->



  <div class="row">
    <div class="col-sm-6">
      <h4>Register new co-workers</h4>
        {% include "includeable/render_edit_coworker_form.html" %}
      <div class="w-100"></div>
      <a href="{% url 'surveys-dashboard' %}">I'm done adding co-workers</a>
    </div><!-- col -->
    <div class="col-sm-6">
      {% if employee_list %}
        <h4>Registered co-workers</h4>
        {% include "includeable/employee_list_renderer.html" %}
      {% else %}

      {% endif %}
    </div> <!-- col -->
  </div> <!-- row -->
</div><!-- container -->

{% endblock %}
