{% extends "base_generic.html" %}
{% load i18n %}
{% block title %}
  {% with instrument.name as instrument_name %}
  <title>{% blocktrans %}{{ instrument_name }} tracking report{% endblocktrans %} | {{ PAGE_TITLE }} </title>
  {% endwith %}
  {% endblock %}
{% block content %}
<div class="container">
  <div class="row pt-4">
    <div class="col-sm-12 text-center">
      {% with instrument.name as instrument_name%}
      <h4>{% blocktrans %}{{ instrument_name }} tracking report{% endblocktrans %}</h4>
      {% endwith %}
    </div>
  </div> <!-- row -->
  <div class="row justify-content-center pt-2">
  {% include "includeable/message_displayer.html" %}
  </div><!-- row -->
  <div class="row justify-content-center">
    <div class="col-md-8 mt-4">
      <h3>{% trans "1. Summary" %}</h3>
      <h5>{% trans "1.1 Summary of scores" %} </h5>
      <p class="text-muted">
        {% with survey_data.survey.date_close as date_close%}
        {% blocktrans %}
        Latest data was collected {{ date_close }}.<br />
        {% endblocktrans %}
        {% endwith %}
        {% if survey_data.survey.n_completed < 4 %}<span class="text-danger">{% endif %}
        {% with survey_data.survey.n_completed as n_completed %}
        {% with survey_data.survey.n_invited as n_invited %}
        {% blocktrans %}
        <b>{{ n_completed }}</b> responded out of <b>{{ n_invited }}</b> invited
        {% endblocktrans %}
        {% endwith %}
        {% endwith %}
        {% if survey_data.survey.n_completed < 4 %}</span>{% if survey_data.survey.n_completed > 0 %}<small><span class="text-muted">{% trans "(some information will be hidden for privacy reasons)" %}</span></small>{% endif %}{% endif %}
      </p>

      <p class="text-body">
      {% if survey_data.survey.n_completed > 3 %}
      {% with survey_data.dimension_results|length as n_dimensions %}
        {% blocktrans %}
          We score your organization on {{ n_dimensions }} dimensions. Your organization's scores are
          summarized below.
        {% endblocktrans %}
      {% endwith %}
        </p>
        <p class="text-body">
      {% else %}
      {% with instrument.name as instrument_name %}
      {% with survey_data.dimension_results|length as n_dimensions %}
      {% blocktrans %}
        {{ instrument_name }} is scored on {{ n_dimensions }} dimensions. Your organization's scores are
        summarized below.
      {% endblocktrans %}
      {% endwith %}
      {% endwith %}
        </p>
        <p class="text-body">
      {% blocktrans %}
        <span class="font-weight-bold">Since this survey had three or fewer respondents,
        we can only show you what your organizations highest and lowest scores
        are</span>. This is because we promised your co-workers that we would anonymize
        their data, and with this few responents it starts to become possible to guess
        individual answers based on the processed scores.<br />
      {% endblocktrans %}
      {% endif %}
      </p>

    {% if survey_data.survey.n_completed > 3 %}
      {% for dimension_result in survey_data.dimension_results %}
        {% include "includeable/display_single_dimension_result.html" with dimension_result=dimension_result label=dimension_result.dimension.name colored=True %} {# displays the plain dimension_result bar #}
      {% endfor %}
    {% else %} {# if fewer than 4 respondents #}
      <ul class="list-group">
        {% for dimension in survey_data.dimension_results %}
          {% if dimension.highest_average == True %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{dimension.dimension.name}}
            <span class="badge badge-success">{% trans "Highest score!" %}</span>
          </li>
          {% endif %}
          {% if dimension.lowest_average == True %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
              {{dimension.dimension.name}}
            <span class="badge badge-warning">{% trans "Lowest score" %}</span>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %} {# done showing summary of current survey #}


    </div><!-- col -->
    <div class="w-100"></div>

    {% if survey_data.previous_data.dimension_results %}
    <div class="col-md-8 mt-4">
      <h5>{% trans "1.2 Change from previous survey" %}</h5>
      <p class="text-muted">
        The previous survey was closed {{ survey_data.previous_data.survey.date_close }}.<br />

        {% if survey_data.previous_data.survey.n_completed < 4 %}<span class="text-danger">{% endif %}
        {% with survey_data.previous_data.survey.n_completed as n_completed %}
        {% with survey_data.previous_data.survey.n_invited as n_invited %}
          {% blocktrans %}
            <b>{{ n_completed }}</b> responded out of <b>{{ n_invited }}</b> invited
          {% endblocktrans %}
        {% endwith %}
        {% endwith %}
        {% if survey_data.previous_data.survey.n_completed < 4 %}</span>{% if survey_data.previous_data.survey.n_completed > 0 %}<small><span class="text-muted">{% trans "(some information will be hidden for privacy reasons)" %}</span></small>{% endif %}{% endif %}
      </p>

      {% for dimension_result in survey_data.dimension_results %}
        {% include "includeable/display_single_dr_change.html" with label=dimension_result.dimension.name colored=True %} {# displays the dr change sincel last bar #}
      {% endfor %}
      <p class="mt-2 text-center">
        <a href="{% url 'surveys-survey-details' survey_data.previous_data.survey.uidb64 instrument.slug_name %}">{% trans "View previous survey" %}</a>
      </p>
    </div> <!-- col -->
    {% endif %} {# done showing data/change from previous (1.2) #}

    <div class="w-100"></div>




    <div class="col-md-8 mt-2">
      <h3>{% trans "2. Results" %}</h3>
    </div>
    {% for dimension_result in survey_data.dimension_results %}

    <div class="col-md-8 mt-2 py-2">
      <h5><a id="{{ dimension_result.dimension.name|slugify }}">2.{{ forloop.counter }} {{ dimension_result.dimension.name }}</a></h5>
      {% if dimension_result.n_completed < 4 %}
        {% if dimension_result.highest_average == True %}
          <h5><center><span class="badge badge-success">{% trans "Your organization's strongest point!" %}</span></center></h5>
        {% endif %}
        {% if dimension_result.lowest_average == True %}
          <h5><center><span class="badge badge-warning">{% trans "Your organization's weakest point" %}</span></center></h5>
        {% endif %}
      {% endif %}

      {# display the three bars in 2.x #}
      {% if survey_data.previous_data is not None %}{# if there was a previous survey, show the results from that and the change #}
        {% for previous_dimension_result in survey_data.previous_data.dimension_results  %}
          {% if previous_dimension_result.dimension == dimension_result.dimension %}
            {% include "includeable/display_single_dimension_result.html" with dimension_result=previous_dimension_result label="Previous score:" colored=False %} {# displays the plain dimension_result bar #}
            {% include "includeable/display_single_dr_change.html" with label="Change:" colored=False %} {# displays the dr change sincel last bar #}
          {% endif %}
        {% endfor %}
      {% endif %}{# end of "if there was a previous survey, show the results from that and the change" #}
      {% include "includeable/display_single_dimension_result.html" with dimension_result=dimension_result label="Current score:" colored=True %} {# displays the plain dimension_result bar #}
      {# end of display the three bars in 2.x #}
      <p>
        <h6 class="mt-2">2.{{ forloop.counter }}.{% with dimension_result.dimension.name|lower as dimension_name %}{% blocktrans %}1 What does "{{ dimension_name }}" mean?{% endblocktrans %}{% endwith %}</h6>
        {{ dimension_result.dimension.description }}
      </p>
      <h6 class="mt-2">2.{{ forloop.counter }}.2 {% trans "How did we arrive at this score?" %}</h6>
      To arrive at this score, we asked your employees to review a set of statements with the following instruction: <b>"{{ dimension_result.scale.instruction }}"</b>.
      {% if dimension_result.n_completed > 3 %} {% trans "The average answers were:" %} {% else %} {% trans "We have hidden results for statements with fewer than 4 respondents. This is because of our privacy policy." %} {% endif %}
      <ul class="list-group mt-4">

      {% for item_result in survey_data.item_results %}
        {% if item_result.dimension == dimension_result.dimension %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-12">
                {{ item_result.formulation }}:
              </div><!-- col -->
              {% if item_result.n_answered > 3 %}
                <div class="col text-right px-0">
                  <span class="text-muted"><small> {{ item_result.scale.min_value_description|capfirst }} </small></span>
                </div><!-- col -->
                <div class="col-9">
                  <div class="progress"  style="height: 20px;">
                    <div class="progress-bar
                      {% if item_result.percent_of_max < 20 %} bg-primary
                      {% elif item_result.percent_of_max >= 80 %} bg-primary
                      {% else %} bg-primary{% endif %}" role="progressbar" style="width: {{ item_result.percent_of_max }}%" aria-valuenow="{{ item_result.percent_of_max }}" aria-valuemin="0" aria-valuemax="100">{{ item_result.average|floatformat }}</div>
                  </div>
                </div><!-- col -->
                <div class="col text-left px-0">
                  <span class="text-muted"><small> {{ item_result.scale.max_value_description|capfirst }} </small></span>
                </div><!-- col -->
              {% else %}
                <div class="col text-right px-0">
                  <span class="text-muted"><small> {{ item_result.scale.min_value_description|capfirst }} </small></span>
                </div><!-- col -->
                <div class="col-9">
                  <div class="progress"  style="height: 20px;">
                    <div class="progress-bar bg-transparent" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><span class="text-dark">{% trans "Average hidden" %}</span></div>
                  </div>
                </div><!-- col -->
                <div class="col text-left px-0">
                  <span class="text-muted"><small> {{ item_result.scale.max_value_description|capfirst }} </small></span>
                </div><!-- col -->
              {% endif %}
            </div><!-- row -->
          </li>
        {% endif %}

      {% endfor %}
      </ul>
      {% if number_of_respondents > 3 %}
      <p class="text-muted"><small>
      {% blocktrans %}
The numbers represent the average rating for your organization. A "full bar"
means your co-workers agreed with the statement, regardless of it being positive
or negative.
      {% endblocktrans %}
      </small></p>
      {% endif %}



    </div> <!-- col -->
    <div class="w-100"></div>
    {% endfor %} {# end for loop over each dimension result to show each dimension in detail #}

  </div> <!-- row -->

</div><!-- container -->

{% endblock %}
