{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <div class="row pt-4">
    <div class="col-lg-12">
      <h3> Edit coworker</h3>
    </div>
  </div> <!-- row -->
  <div class="row justify-content-center pt-2">
  {% include "includeable/message_displayer.html" %}
  </div><!-- row -->
  <div class="row">
    <div class="col-lg-6">
  {% include "includeable/render_edit_coworker_form.html" %}
    </div><!-- col -->
      <div class="w-100"></div>
    <div class="col-lg-6">
  <a href="{% url 'surveys-edit-coworker' %}">Back</a>
    </div><!-- col -->
  </div> <!-- row -->
</div><!-- container -->

{% endblock %}Q
