{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
  <div class="row pt-4">
    <div class="col-lg-8 offset-lg-2">
      <h3> Set up {{ instrument.name|lower }} tracking </h3>
    </div>
  </div> <!-- row -->
  <div class="row justify-content-center pt-2">
  {% include "includeable/message_displayer.html" %}
  </div><!-- row -->
  <div class="row">
    <div class="col-lg-8 offset-lg-2">

      <form method="post">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}



        <div class="form-group row">
        <div class="col-4 col-md-5 justify-content-right">
        {% if form.is_bound %}
          {% if form.is_active.errors %}
            {% render_field form.is_active class="form-control is-invalid" %}
            {% for error in form.is_active.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% else %}
            {% render_field form.is_active class="form-control is-valid" %}
          {% endif %}
        {% else %}
          {% render_field form.is_active class="form-control" %}
        {% endif %}
        {% if is_active.help_text %}
          <small class="form-text text-muted">{{ form.is_active.help_text }}</small>
        {% endif %}
        </div> <!-- col -->
        <div class="col-8 col-md-7">
          Track {{ instrument.name|lower }}?
        </div>
      </div><!-- form group row -->

      <hr>

        <div class="form-group row">
        <div class="col-5">
        {% if form.is_bound %}
          {% if form.survey_interval.errors %}
            {% render_field form.survey_interval class="form-control is-invalid" %}
            {% for error in form.survey_interval.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div><!-- invalid feedback -->
            {% endfor %}
          {% else %}
            {% render_field form.survey_interval class="form-control is-valid" %}
          {% endif %}
        {% else %}
          {% render_field form.survey_interval class="form-control" %}
        {% endif %}
        {% if survey_interval.help_text %}
          <small class="form-text text-muted">{{ form.survey_interval.help_text }}</small>
        {% endif %}
        </div><!-- col -->
        <div class="col-7">
          {{ form.survey_interval.label_tag }}
        </div><!-- col -->
      </div><!-- form group row -->



      <div class="form-group row">
      <div class="col-5">
      {% if form.is_bound %}
        {% if form.surveys_remain_open_days.errors %}
          {% render_field form.surveys_remain_open_days class="form-control is-invalid" %}
          {% for error in form.surveys_remain_open_days.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div><!-- invalid feedback -->
          {% endfor %}
        {% else %}
          {% render_field form.surveys_remain_open_days class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field form.surveys_remain_open_days class="form-control" %}
      {% endif %}
      {% if surveys_remain_open_days.help_text %}
        <small class="form-text text-muted">{{ form.surveys_remain_open_days.help_text }}</small>
      {% endif %}
      </div><!-- col -->
      <div class="col-7">
        {{ form.surveys_remain_open_days.label_tag }}
      </div><!-- col -->
    </div><!-- form group row -->




        <center><button type="submit" class="btn btn-info ">{% if submit_button_text %} {{ submit_button_text }} {% else %} Submit {% endif %} </button></center>
      </form>


    </div><!-- col -->
  </div> <!-- row -->
</div><!-- container -->

{% endblock %}
