{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <div class="row pt-4">
    <div class="col-lg-12">
      <h3> Password reset request received</h3>
    </div>
  </div> <!-- row -->
  <div class="row justify-content-center pt-2">
  {% include "includeable/message_displayer.html" %}
  </div><!-- row -->
  <div class="row">
    <div class="col-lg-6">
      <p>Thank you for submitting your password reset request. You should receive your password reset link by email shortly. </p>
      <a href="{% url 'index' %}"> Return to front page </a>
    </div><!-- col -->
  </div> <!-- row -->
</div><!-- container -->

{% endblock %}Q
