{% load i18n %}{% url 'surveys-answer-survey' token=token as survey_url %}
{% trans "Hi!" %}

{% blocktrans %}Some time ago we sent you an email regarding {{ organization }}'s regular surveys to investigate {% endblocktrans %}{% if instrument_list|length == 1  %}{{ instrument_list.0.name|lower }}.{% else %}{% for i in instrument_list %}{% if forloop.last %}and {{ i.name|lower }}.{% else %}{{ i.name|lower }}, {% endif %}{% endfor %}{% endif %}

{% blocktrans %}{{ contact_person }} on behalf of {{ organization }} would greatly appreciate it if you took the time to fill out the survey at this link:
https://{{ hostname }}{{ survey_url }}{% endblocktrans %}

{% blocktrans %}This is your last chance!
Please contact {{ contact_person }} if you have any questions.{% endblocktrans %}

{% blocktrans %}Best regards,
The www.motpanel.com team{% endblocktrans %}
