<p>Hi!</p>

<p>As you may know, {{ organization }} is running regular surveys to investigate the well-being of their co-workers.</p>

<p>They would appreciate it if you took the time to fill out the survey at this link:<br />
<a href="https://www.motpanel.com{% url 'surveys-answer-survey' token=token %}">https://www.motpanel.com{% url 'surveys-answer-survey' token=token %}</a></p>

<p>Our contact person at {{ organization }} is {{ contact_person }}. Please contact him or her if you have any questions.</p>

<p>Best regards,<br />
The www.motpanel.com support team</p>
