{% load i18n %}{% url 'surveys-answer-survey' token=token as survey_url %}<p>{% trans "Hi!" %}</p>

<p>{% blocktrans %}You have been invited by {{ contact_person }} to participate in {{ organization }}'s survey investigating {% endblocktrans %}{% if instrument_list|length == 1  %}{{ instrument_list.0.name|lower }}.{% else %}{% for i in instrument_list %}{% if forloop.last %}and {{ i.name|lower }}.{% else %}{{ i.name|lower }}, {% endif %}{% endfor %}{% endif %}</p>

{% blocktrans %}<p>They would appreciate it if you took the time to fill out the survey at this link:<br />
<a href="https://{{ hostname }}{{ survey_url }}">https://{{ hostname }}{{ survey_url }}</a></p>{% endblocktrans %}

{% blocktrans %}<p>Our contact person at {{ organization }} is {{ contact_person }}. Please contact him or her if you have any questions.</p>{% endblocktrans %}

{% blocktrans %}<p>Best regards,<br/>
The www.motpanel.com team</p>{% endblocktrans %}
