{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row pt-4">
    <div class="col-lg-6">
      <h3> Your plan </h3>
    </div>
  </div> <!-- row -->
<div class="row justify-content-center pt-2">
{% include "includeable/message_displayer.html" %}
  </div><!-- row -->
{% if request.user.subscriber.plan.is_paid == "y" %}
  <div class="row justify-content-center pt-2">
    {% include "includeable/plan_displayer.html" %}
  </div><!-- row -->
{% else %}
    You do not currently have an active plan. <br />
    <a href="{% url 'choose-plan'%}">Pick a plan</a>
{% endif %}

</div><!-- container -->

{% endblock %}
