{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<!-- Front page banner begins -->
<div class="jumbotron jumbotron-fluid" style="">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p>&nbsp;</p>
        <h1 class="display-5 main-page-headline text-info" style="color: #94f1ff !important;">Great leaders lead highly motivated employees.</h1>
          <p class="text-white">
            <!-- Software to help you increase employee satisfaction and loyalty. -->
            Automatic employee satisfaction tracking.
          </p><br />
        <a class="btn btn-info btn-lg" href="{% url 'sign-up'%}" role="button">Try for free</a><br />
        <a href="{% url 'sign-up' %}" class="text-white"><small>Pick a plan, cancel anytime.</small></a>
      </div> <!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- jumbotron -->

<!-- Social proof box begins -->
<div class="social-proof py-5">
  <div class="container">
    <div class="row">
      <!--
      <div class="col-sm-3 lead text-center align-self-center">
        <img src="{% static 'images/fiesta-24.png' %}" height="75px" alt="Fiesta 24." />
      </div>

      <div class="col-sm-3 lead text-center align-self-center">
        <img src="{% static 'images/bellas-studio.png' %}" height="50px" alt="Bellas Studio" />
      </div>
      <div class="col-sm-3 lead text-center align-self-center">
        <img src="{% static 'images/buddy-burger.png' %}" height="75px" alt="Buddy Burger" />
      </div>
      <div class="col-sm-3 lead text-center align-self-center">
        <img src="{% static 'images/bitalert.png' %}" height="60px" alt="bitalert" />
      </div>
      -->
      <div class="col-12 lead text-center align-self-center">
        Show your co-workers that you care!
      </div>

    </div><!-- row -->
  </div><!-- container -->
</div>
<div class="container">

<!-- three steps explanation begins -->
  <div class="row">

    <div class="col-12 text-center pt-3 pb-3">
      <h3> How does it work?</h3>
    </div>

  <div class="col-md-4">
    <div class="col-12 text-center pb-4">
      <h5>1. Add co-workers to track</h5>
      <img src="{% static 'images/survey-employees.svg' %}" class="img-fluid" width="40%" alt="Add employees that you want to track." />
    </div>
    <div class="col-12 text-center pb-4">
      <p>Add email addresses for the co-workers whos motivation you want to monitor. We'll contact them directly.</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="col-12 text-center pb-4">
      <h5>2. Co-workers get regular surveys</h5>
      <img src="{% static 'images/employees-respond-to-survey.svg' %}" class="img-fluid" width="40%" alt="Employees answer simple questions." />
    </div>
    <div class="col-12 text-center pb-4">
      <p>Each employee receives a regular (e.g. quarterly) survey with key questions regarding their motivation. </p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="col-12 text-center pb-4">
      <h5>3. You get the results </h5>
      <img src="{% static 'images/analyze-employee-data.svg' %}" class="img-fluid" width="50%" alt="Access processed data about employee motivation." />
    </div>
    <div class="col-12 text-center pb-4">
      <p>Receive comprehensive reports showing employee satisfaction snap-shots and trends, and see what is working to improve your scores. </p>
    </div>
  </div>
  </div> <!-- row -->

</div><!-- container -->
<div class="py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="{% static 'images/add-and-remove-employees-screenshot.png' %}" class="img-fluid" alt="Easily add and remove co-workers.">
      </div>
      <div class="col-md-6 text-center text-light align-self-center">
        <h3>Easily add co-workers</h3>
        You can easily add co-workers in a matter of seconds using our simple tool, or email us a list, and we'll add your co-workers for you.
        <p>
          <br />
          <a class="btn btn-info btn-lg" href="{% url 'sign-up'%}" role="button">Try for free</a><br />
          <a href="{% url 'sign-up' %}" class="text-white"><small>Pick a plan, cancel anytime.</small></a>
        </p>
      </div>
    </div> <!-- row -->
    <hr>
    <div class="row">

      <div class="col-md-6 text-center order-md-last">
        <img src="{% static 'images/dashboard-screenshot.png' %}" class="img-fluid" alt="Full overview from your dashboard.">
      </div>
      <div class="col-md-6 text-center text-light align-self-center order-md-first">
        <h3>Get an overview from the dashboard </h3>
        Clicking "start here" in the menu will always show you the next step to get started with employee satisfaction tracking. When all is set, it will show you to the dashboard, where you can access all settings and data.
        <p>
          <br />
          <a class="btn btn-info btn-lg" href="{% url 'sign-up'%}" role="button">Try for free</a><br />
          <a href="{% url 'sign-up' %}" class="text-white"><small>Pick a plan, cancel anytime.</small></a>
        </p>
      </div>
    </div> <!-- row -->
    <hr>
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="{% static 'images/data-screenshot.png' %}" class="img-fluid" alt="View simple and meaningful data-graphics.">
      </div>
      <div class="col-md-6 text-center text-light align-self-center">
        <h3>View data for your organization</h3>
        When data is in, meaning your co-workers have answered the survey we send them, the data will be made available for you. See your organization's strong and weak points, and get recommendations about how you can improve employee satisfaction and retention.
        <p>
          <br />
          <a class="btn btn-info btn-lg" href="{% url 'sign-up'%}" role="button">Try for free</a><br />
          <a href="{% url 'sign-up' %}" class="text-white"><small>Pick a plan, cancel anytime.</small></a>
        </p>
      </div>
    </div> <!-- row -->

  </div><!-- container -->
</div><!-- custom dark div -->
<div class="container">
  <div class="row justify-content-center pt-2">
    <div class="col-12 pt-3 pb-3">
      <h3 class="text-center"> Plans and pricing </h3>
      <div class="card-group col-12 justify-content-center">
      {% for plan in plan_list %}

      <div class="card col-md-3 px-0">
        <img src="{% static 'images/standard-plan.svg' %}" class="card-img-top mt-2" style="height: 10rem;" alt="{{ plan.name }} plan">
        <div class="card-body">
          <h5 class="card-title text-center text-body"> {{ plan.name }}</h5>
          <!--<span class="text-muted"><span class="lead">$3 <small>USD</small> / month </span> per {{ product.unit_label }}</span><br />-->
          <h3 class="card-subtitle text-info text-center">${{ plan.interval_amount }} {{ plan.currency|upper }}/{{ plan.interval }} </h3>
          <span class="text-muted"><center><small>per co-worker billed {{ plan.name|lower }}</small></center></span>
          <center><span class="badge badge-success">{{ plan.trial_period_days }} days free trial!</span></center>
          {% if product.description is not None %}
            <p class="card-text">{{ product.description }}.</p>
          {% endif %}
        </div> <!-- card-body -->
        <div class="text-center card-footer">
          <a href="{% url 'sign-up' %}" class="btn btn-info text-center my-2"> Choose </a>
        </div> <!-- card-footer -->
      </div><!-- card -->
      {% endfor %}
      </div><!-- card group-->
    </div>

</div><!-- row -->


{% endblock %}

{% block footer %}
  {% include "includeable/full_footer.html" %}
{% endblock %}
