{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}
{% block extrascripts %}
<script src="https://js.stripe.com/v3/"></script>
<script>
var stripe = Stripe('{{ stripe_pk }}');

function stripeRedirect(){
  stripe.redirectToCheckout({
  sessionId: '{{ stripe_session.id }}'
}).then(function (result) {
  // If `redirectToCheckout` fails due to a browser or network
  // error, display the localized error message to your customer
  // using `result.error.message`.
  if (result.error) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, display the localized error message to your customer.
          var displayError = document.getElementById('error-message');
          displayError.textContent = result.error.message;
      }
});
}
</script>
{% endblock %}
{% block title %}<title>{% trans "Plans and payment" %} | {{ PAGE_TITLE }} </title>{% endblock %}
{% block content %}
<div class="container">
  <div class="row pt-4">
    <div class="col">
      <h3> {% trans "Plans and payment" %}</h3>
    </div>
  </div> <!-- row -->
  <div class="row justify-content-center pt-2">
  {% include "includeable/message_displayer.html" %}
  </div><!-- row -->
  <div class="row">

            {% if stripe_subscription is not None and stripe_subscription.english_status != 'canceled' %}
        <div class="col-lg-6"><!-- Your subsciption -->
            <h5>{% trans "Your Subscription" %}</h5>
            <div class="card-group">
            <div class="card col-12 px-0">
              <img src="{% static 'images/basic-plan-1.svg' %}" class="card-img-top mt-2"  style="height: 20rem;" alt="{{ plan.name }} plan">
              <div class="card-body">
                <h5 class="card-title text-center text-body">Standard {{ stripe_subscription.plan_name }}
                  {% if stripe_subscription.cancel_at_period_end == True %}
                  <span class="badge badge-warning">{% trans "CANCELLED" %}</span>
                  {% elif stripe_subscription.plan_active == True %}
                  <span class="badge badge-success">{% trans "ACTIVE" %}</span>
                  {% else %}
                  {% endif %}
                </h5>
                {% trans stripe_subscription.plan_total as plan_total %}
                {% trans stripe_subscription.plan_currency|upper as plan_currency %}
                {% trans stripe_subscription.plan_interval as plan_interval %}
                {% trans stripe_subscription.plan_name|lower as plan_name %}
                {% trans stripe_subscription.status as stripe_status %}
                {% with stripe_subscription.quantity as stripe_quantity %}
                
                  {% blocktrans %}
                  <h3 class="card-subtitle text-info text-center">${{ plan_total }} {{ plan_currency }}/{{ plan_interval }}* </h3>
                  
                  <span class="text-muted"><center><small>total for {{ stripe_quantity }} employees billed {{ plan_name }}</small></center></span>
                  <p class="text-center">
                    
                    <span class="text-muted lead">Subscription is <span class="text-success font-weight-bold">{{ stripe_status }}</span>
                  {% endblocktrans %}
                {% endwith %}
                  {% if stripe_subscription.english_status == 'active' or stripe_subscription.english_status == 'trialing' %}
                  {% trans "until" %} {{ stripe_subscription.current_period_end }}.</span><br />
                  {% else %}
                    .<br />
                  {% endif %}
                  {% if stripe_subscription.cancel_at_period_end == True %}
                    <span class="text-danger"> {% trans "(will not renew automatically!)" %}</span>
                  {% else %}
                    <span class="text-success"> {% trans "(renews automatically!)" %}</span>
                  {% endif %}
                </p>
                
                {% blocktrans %}
                <p class="card-text">* The plan scales automatically to the number of surveyed employees, and bills {{ plan_name }}. </p>
                {% endblocktrans %}
                
              </div> <!-- card-body -->
              <div class="text-center card-footer">
                <center>
                  {% if stripe_subscription.cancel_at_period_end == True %}
                    <a href="{% url 'payments-restart_cancelled-subscription' stripe_subscription.id %}" class="btn btn-success btn-sm">{% trans "Restart subscription" %}</a>
                  {% endif %}
                  {% for plan in plan_list %}
                    {% if plan.id != stripe_subscription.plan_id %}
                      {% with plan.name|lower as plan_name %}
                      <a href="{% url 'payments-change-subscription-price' plan.id %}" class="btn btn-info btn-sm">{% blocktrans %} Switch to {{ plan_name }} billing{% endblocktrans %} </a>
                      {% endwith %}
                    {% endif %}
                  {% endfor %}
                  {% if stripe_subscription.cancel_at_period_end != True %}
                    <a href="{% url 'payments-cancel-subscription' stripe_subscription.id %}" class="btn btn-danger btn-sm">{% trans "Cancel subscription" %}</a>
                  {% endif %}
                </center>
              </div> <!-- card-footer -->


            </div><!-- card -->
            </div><!-- card group-->

        </div><!-- col -->
            {% else %}
        <div class="col-lg-6 {% if default_payment_method is None %}offset-lg-3{% endif %} justify-content-center"><!-- Plans -->
            <h5>{% trans "Plans" %}</h5>
                <div class="card-group">
                {% for plan in plan_list %}
                <div class="card col-md-6 px-0">
                  <img src="{% static 'images/basic-plan-1.svg' %}" class="card-img-top mt-2" style="height: 10rem;" alt="{{ plan.name }} plan">
                  <div class="card-body">
                    <h5 class="card-title text-center text-body"> Standard {{ plan.name }}</h5>
                    {% trans plan.interval_amount as interval_amount %}
                    {% trans plan.currency|upper as currency %}
                    {% trans plan.interval as interval %}
                    {% trans plan.name|lower as plane_name %}
                    {% trans plan.trial_period_days as trial_period_days %}
                    {% trans product.description as product_description %}
                    {% blocktrans %}
                    <h3 class="card-subtitle text-info text-center">${{ interval_amount }} {{ currency }}/{{ interval }} </h3>
                    <span class="text-muted"><center><small>per employee billed {{ plane_name }}</small></center></span>
                    <center><span class="badge badge-success">{{ trial_period_days }} days free trial!</span></center>
                    <p class="card-text">{{ product_description }}.</p>
                    {% endblocktrans %}
                  </div> <!-- card-body -->
                  <div class="text-center card-footer">
                    <a href="{% url 'payments-create-subscription' plan.id %}" class="btn btn-success text-center my-2">{% if request.user.organization.stripe_subscription_id == "" or  request.user.organization.stripe_subscription_id is None %}{% trans "Try for free" %}{% else %}{% trans "Pick plan" %}{% endif %}</a>
                  </div> <!-- card-footer -->
                </div><!-- card -->
                {% endfor %}
                </div><!-- card group-->
              <center><span class="text-muted"></span></center>
        </div><!-- col -->
            {% endif %}

        <div class="col-lg-6"><!-- Payment methods -->
          {% if default_payment_method is not None %}

            <h5>{% trans "Active payment method" %}</h5>
            <ul class="list-group list-group-horizontal-sm mb-2 ">
              <li class="list-group-item col-sm-3 list-group-item-info"><span class="text-muted"><small>{{ default_payment_method.card.brand|capfirst }}{% trans "ending in:" %}</small></span><br /> {{ default_payment_method.card.last4 }}</li>
              <li class="list-group-item flex-fill list-group-item-info"><span class="text-muted"><small>{% trans "Cardholder name:" %}</small></span><br />  {{ default_payment_method.billing_details.name }}</li>
              <li class="list-group-item col-sm-2 list-group-item-info"><span class="text-muted"><small>{% trans "Expires:" %}</small></span><br />  {{ default_payment_method.card.exp_month }}/{{ default_payment_method.card.exp_year }}</li>
              <li class="list-group-item col-sm-3 list-group-item-info"><span class="text-muted"><small>{% trans "Actions:" %}</small></span><br /><center> <a class="badge badge-danger" href="{% url 'payments-delete-payment-method' default_payment_method.id %}">{% trans "Delete" %}</a></center></li>
            </ul>

          <p class="text-center">
            <a href="{% url 'payments-set-up-payment-method' %}" class="btn btn-info btn-sm">{% trans "Change payment method" %}</a>
          </p>
          {% endif %}
          {% if pm_list is not None and pm_list.data|length > 1 %}


          <h5>{% trans "All payment methods" %}</h5>
            {% for pm in pm_list %}
            {% if pm.id %}
            <ul class="list-group list-group-horizontal-sm mb-2 ">
              <li class="list-group-item col-sm-3{% if pm.id == default_payment_method.id %} list-group-item-info{% endif %}"><span class="text-muted"><small>{{ pm.card.brand|capfirst }} {% trans "ending in:" %}</small></span><br /> {{ pm.card.last4 }}</li>
              <li class="list-group-item flex-fill{% if pm.id == default_payment_method.id %} list-group-item-info{% endif %}"><span class="text-muted"><small>{% trans "Cardholder name:" %}</small></span><br />  {{ pm.billing_details.name }}</li>
              <li class="list-group-item col-sm-2{% if pm.id == default_payment_method.id %} list-group-item-info{% endif %}"><span class="text-muted"><small>{% trans "Expires:" %}</small></span><br />  {{ pm.card.exp_month }}/{{ pm.card.exp_year }}</li>
              <li class="list-group-item col-sm-3{% if pm.id == default_payment_method.id %} list-group-item-info{% endif %}">
                {% if pm.id == default_payment_method.id %}
                  <small><center>{% blocktrans %}(active<br>card){% endblocktrans %}</center></small>
                {% else %}
                  <span class="text-muted"><small>{% trans "Actions:" %}</small></span><br /><a class="badge badge-success" href="{% url 'payments-use-payment-method' pm.id %}">{% trans "Use" %}</a> <a class="badge badge-danger" href="{% url 'payments-delete-payment-method' pm.id %}">{% trans "Delete" %}</a>
                {% endif %}
              </li>
            </ul>
            {% endif %}
            {% endfor %}
            <p class="text-center">
              <a href="{% url 'payments-set-up-payment-method' %}" class="btn btn-info btn-sm">{% trans "New payment method" %}</a>
            </p>
          {% endif %}
          {% if default_payment_method is None and stripe_subscription is not None and stripe_subscription.status != 'canceled' %}

          <h5>{% trans "Add payment method" %}</h5>
            <a href="{% url 'payments-set-up-payment-method' %}" class="btn btn-info btn-sm">{% trans "Add payment method" %}</a>
          {% endif %}<!-- Plans -->
        </div><!-- col -->
        {% if invoice_list is not None %}
        <div class="col-12"><!-- Invoices -->
          <h5 class="mt-3">{% trans "Invoices" %}</h5>
          {% for invoice in invoice_list %}
          <ul class="list-group list-group-horizontal-sm mb-2 ">
            <li class="list-group-item flex-fill{% if invoice.paid == True %} list-group-item-success{% else %}ist-group-item-warning{% endif %}">
              <span class="text-muted"><small>{% trans "Invoice number/date:" %}</small></span><br />
              <a href="{{ invoice.invoice_pdf }}" target="_blank">{{ invoice.number }} &#11016;</a><br /> {{ invoice.created }}
            </li>
            <li class="list-group-item flex-fill{% if invoice.paid == True %} list-group-item-success{% else %}ist-group-item-warning{% endif %}">
              <span class="text-muted"><small>{% trans "Plan:" %}</small></span><br />
              {% for item in invoice.line_items %}
                {{ item.plan_name }}
              {% endfor %}
            </li>
            <li class="list-group-item flex-fill{% if invoice.paid == True %} list-group-item-success{% else %}ist-group-item-warning{% endif %}">
              <span class="text-muted"><small>{% trans "Billing Period:" %}</small></span><br />
              {% for item in invoice.line_items %}
                {{ item.period_start }} {% trans "to" %}<br />  {{ item.period_end }}
              {% endfor %}
            </li>
            <li class="list-group-item flex-fill{% if invoice.paid == True %} list-group-item-success{% else %}ist-group-item-warning{% endif %}">
              <span class="text-muted"><small>{% trans "Amount:" %}</small></span><br />
              {% for item in invoice.line_items %}
                $ {{ item.amount }} {{ item.currency|upper }}
              {% endfor %}
            </li>
            <li class="list-group-item flex-fill{% if invoice.paid == True %} list-group-item-success{% else %}ist-group-item-warning{% endif %}">
              <span class="text-muted"><small>{% trans "Status:" %}</small></span><br />
              {% if invoice.paid == True %}
                {% trans "Paid" %}
              {% else %}
                {% trans "Not paid" %}
              {% endif %}
            </li>
          </ul>
          {% endfor %}
        </div><!-- col -->
      {% endif %}
  </div> <!-- row -->
</div><!-- container -->

{% endblock %}
